.background-container {
    display: flex;
   /*  align-items: center;
    text-align: center; */
    justify-content: center;
    height: 10%;
   
    max-width: 800px;
    margin-top: 7%;
    color: var(--white);
   
  
  }

  .background-items {
/* display: flex;
flex-direction: column;
align-items: center;
justify-content: center; */
  }
  .background-education, .background-skills, .background-work{
    max-width: 800px;
    box-shadow: 0 0 10px -2px bisque;
    border-radius: 7px;
    padding: 10px;
    margin-top: 20px;
    background-color: cadetblue;
    padding: 15px;
  }

  .background-education{
     /*  border: solid 2px white; */
    
  /*   display: flex;
    flex-direction: row; */
    /* text-align: left; */
    
  }
  
  .background-skills{
/* border: 1px solid white; */
/* padding: 7px; */
/* max-width: fit-content; */

  }
  .background-skills-container{
   
    min-width: 400px; 
 
     display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
   /*  flex-wrap: wrap; */
    
    
  }
 
  .background-skills-skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    /* flex: 0.3; */
  }

 
  .background-work{
    /* border: solid 2px white; */
    min-width: min-content;
  }
  /* .flex{
      margin-bottom: 20px;
  } */
  .background-skills-rating {
   /*  position: relative; */
    /* height: 15px; */
    
    width: 100%;
    
}

 /*  .background-skills-rating  .background-skills-rating-bar {
    height: 15px;
    transition: 0.8s ease;
    position: absolute;
    background-color: #1f2235;
} */

@media(max-width: 866px) {
  .background-skills-skills{
  
   min-width: 200px;
     flex: 1;
  }
}

@media(max-width: 520px){
  .background-skills-container{
  
  display: block;
    min-width: 300px;
   
  /*  flex-wrap: wrap; */
   
   
 }
}