.projects-outer img {

  

    height: 80%;
    width: 80%;
}


.projects-outer {
    text-align: center;

}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.center {
    align-items: center;
    justify-content: center;

}
.hidden2 {
    display: none;
}
.container {
    
    color: white;
    max-width: 1200px;
    max-height: auto;
    padding: 10px;
    margin-top: 15px !important;

}

.description-text {
    font-size: 16px;


}

.description {
    margin-top: 4px;
    /* border: 2px solid white;*/
    width: 80%;
    margin-left: 10%;
}

.portfolio-heading {

    margin-bottom: 10px;
    max-width: 50%;
}

@media(max-width: 867px) {
    
    .hidden2 {
        display: block;
        color: white;
    }
    .visible {
        display: none;
    }
    .hidden2 .portfolio-heading {
      /*   margin-top: 20px;
        margin-bottom: 30px; */
     margin: 20px 50px 30px 62px;
        max-width: 100%;
    }
}
